@using Emerus.ETM.Admin.Pages

<div class="card-section">
    <h5>Review</h5>
    <p class="text-muted">Confirm that the information below is correct before submitting.</p>

    <h6>Demographics</h6>
    <p>Name - @Demographics.FirstName @Demographics.LastName - Email - @Demographics.PersonalEmail - Cell Phone - @Demographics.CellPhone</p>
    <p>Preffered Name - @Demographics.PreferredLastName  @Demographics.PreferredFirstName -DOB - @Demographics.DateOfBirth</p>
    <p>@Demographics.Gender, Identity - @Demographics.Identity</p>
    <p>Address - @Demographics.AddressLine1, @Demographics.AddressLine2</p>
    <p>@Demographics.City, @Demographics.State, @Demographics.Postal</p>
    <p>@Demographics.Country</p>

    <h6>Job & Dates</h6>
    <p>Job Title - @JobInfo.JobTitle, Department - @JobInfo.Department - Starts @JobInfo.StartDate.ToShortDateString()</p>
    <p>Agency - @JobInfo.AgencyName, Job Code - @JobInfo.JobCode - ExternalEmployeeId - @JobInfo.ExternalEmployeeId</p>
    <p>PriorEmployeeFlag - @JobInfo.PriorEmployeeFlag, StartDate - @JobInfo.StartDate</p>

    <h6>Access Requests</h6>
    <ul>
        @foreach (var t in AccessInfo.RequestedTargets)
        {
            <li>@t</li>
        }
    </ul>

    <h6>Hardware</h6>
    <p>
        Laptop: @(Hardware.NeedsLaptop ? "Yes" : "No"),
        Dock: @(Hardware.NeedsDock ? "Yes" : "No"),
        Monitors: @Hardware.MonitorCount,
        Headset: @(Hardware.NeedsHeadset ? "Yes" : "No"),
        Hotspot: @(Hardware.NeedsHotspot ? "Yes" : "No"),
        Notes: @Hardware.Notes

    </p>

    <h6>Badge</h6>
    <p>Badge requested: @(Badge.NeedsBadge ? "Yes" : "No")</p>
    Primary Facility: @Badge.PrimaryFacility,
    Access Level/ Request Type: @Badge.RequestType,
</div>

@code {
    [Parameter]
    public OnboardingNew.DemographicsModel Demographics { get; set; } = default!;

    [Parameter]
    public OnboardingNew.JobModel JobInfo { get; set; } = default!;

    [Parameter]
    public OnboardingNew.AccessModel AccessInfo { get; set; } = default!;

    [Parameter]
    public OnboardingNew.HardwareModel Hardware { get; set; } = default!;

    [Parameter]
    public OnboardingNew.BadgeModel Badge { get; set; } = default!;
}
